# --- CONFIGURACIÓN GPRS ---
APN=internet.comcel.com.co
GPRS_USER=
GPRS_PASS=

# --- CONFIGURACIÓN MQTT ---
MQTT_SERVER=0.0.0.0
MQTT_PORT=1883
MQTT_USER=tu_usuario
MQTT_PASS=tu_clave
MQTT_TOPIC=nodo/prueba

# --- SEGURIDAD ---
WIFI_AP_PASS=12345678
AES_KEY=1234567890123456